/* Globals */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: monospace;
  font-size: 18px;
  line-height: 24px;
  color: black;
  background-color: ghostwhite;
}

/* Layout - including 'sticky' footer */

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 150px;
  padding: 0 10px;
}

footer {
  flex-shrink: 0;
  font-size: 14px;
  text-align: center;
  padding-bottom: 10px;
}

/* Header */

h1 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 30px;
}

/* Links */

a {
  color: black;
}

a:visited {
  color: black;
}

#result {
  text-align: center;
  margin: 15px 0;
}

#result > a {
  font-size: 28px;
  font-weight: bold;
}

#target {
  text-align: center;
  max-height: 250px;
  overflow: hidden;
  margin-bottom: 60px;
}

#target > a {
  font-size: 14px;
}

#return {
  text-align: center;
}

footer > a {
  font-size: 14px;
}

/* Form */

label, input, button {
  display: block;
  width: 90%;
  margin: 0 auto;
}

input {
  padding: 5px 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

button {
  font-weight: bold;
  padding: 10px 10px;
  border: 1px solid black;
  border-radius: 50px;
  color: ghostwhite;
  border-color: black;
  background-color: black;
  transition: background-color 300ms;
}

button:hover {
  border-color: dimgray;
  background-color: dimgray;
}

#desc {
  margin-bottom: 30px;
}

#err {
  min-height: 35px;
}

#err > p {
  text-align: center;
  color: lightcoral;
}
