{{define "base"}}

<!DOCTYPE html>
<html>
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Scrieve</title>
  <meta name="description" content="Link shortening. Clean and simple.">
  <link rel="icon" href="./static/favicon.ico">
  <link rel="stylesheet" type="text/css" href="./static/styles.css">
  </head>
  <body>
    <main>
      <div>
        {{template "main" .}}
      </div>
    </main>
    <footer>
      By <a href="https://lawrie.scot">Lawrie</a>
    </footer>
  </body>
</html>

{{end}}
