{{template "base" .}}

{{define "main"}}

    <div id="icon">
      <img src="./static/icon.svg" alt="Scrieve Icon"/>
    </div>
    <h1>Scrieve</h1>
    <p id="desc">Link shortening. Clean and simple.</p>
    <div id="err">
      {{if .}}<p>{{.}}</p>{{end}}
    </div>
    <form action="/" method="post">
      <input
          type="text"
          name="target"
          placeholder="Enter URL"
          aria-label="Enter URL"
          required
          >
      <button type="submit" name="submit">Shorten</button>
    </form>
{{end}}
